@using Chirp.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navigation">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <a href="/@(User.Identity.Name)">my timeline</a> |
            <a href="/">public timeline</a> |
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @User.Identity.Name!
            </a> |
            <form style="display: inline;" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                  asp-area="Identity" method="post">
                <button type="submit" style="background:none; border:none; color:inherit; cursor:pointer; padding:0;">
                    logout [@(User.Identity.Name)]
                </button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a asp-area="Identity" asp-page="/Account/Register">register</a> |
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
        </div>
    }
</div>
